In [5]:
df = pd.DataFrame([[14000,22000,22324],
                   [15000,23000,22806],
                   [16000,23000,23330],
                   [17000,24000,23877]],
                 columns=['China', 'Rest', 'Global'],
                 index=pd.date_range('2016', periods=4, freq='Y'))
df

            China   Rest  Global
2016-12-31  14000  22000   22324
2017-12-31  15000  23000   22806
2018-12-31  16000  23000   23330
2019-12-31  17000  24000   23877